.profile-content{
    display: flex;
    align-items: center;
    width: 208px;
    margin: auto;

    img{
        height: 50px;
        border-radius: 50%;
    }
    .content{
        margin-left: 5px;
        width: 100%;
        h3{
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
        }
        p{
            color: #90A0B7;
            margin-bottom: 0;
        }
        a{
            text-decoration: none;
            color: #90A0B7;
            &:hover{
                color: black;
            }
        }
        .buttom{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}