.chat-content{
    height: 100%;
    padding: 1rem;
    .chat-body, .header{
        margin: auto;
        width: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px 50px;
        background-color: white;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
    }
    .chat-body{
        padding: 20px;
        height: 80vh;
        .chat{
            overflow: auto;
            height: 90%;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }
            &::-webkit-scrollbar-thumb {
                background: #888; 
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
            .empty{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
        .comment-form{
            margin-top: 1rem;
            .form-group{
                display: flex !important;
                align-items: center;
                button{
                    width: 150px;
                }
            }
        }
    }

    .header{
        color: white;
        background-color: #7C83FD;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                margin-left: 0.5rem;
            }
        }
        .bi{
             cursor: pointer;
        }
    }
}

.message{
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    .message-body{
        width: 100%;
        p{
            margin: 0;
        }
        .username{
            font-weight: bold;
        }
        .time{
            font-weight: bold;
            font-size: small;
            text-align: right;
        }
    }
    .img{
        margin-right: 0.5rem;
        img{
            border-radius: 50%;
            height: 50px;
        }
    }
}
.sent{
    margin: 0 0 1.5rem auto;
    background-color: #222831;
    color: white;
}
.received{  
    background-color: #3D56B2;
    color: white;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


@media screen and (max-width: 900px) {
    .chat-body, .header{
        width: 100% !important;
        padding: 0.1rem;
    }
    .message{
        width: 90%;
    }

}