<div class="users-content">
    <div class="users">
        <div class="user" *ngFor="let user of users" [routerLink]="['/users', user.login]">
            <div class="img">
                <img *ngIf="user?.avatar != null" src="{{serverUrl + user?.avatar}}">
                <img *ngIf="user?.avatar == null" src="{{serverUrl}}/files/avatar.png">
            </div>
            <h4>{{user.name + " " + user.surename}}</h4>
            <p>{{GetRoleText(user.role)}}</p>
        </div>
    </div>

    <div *ngIf="!loading" class="contol">
        <div [hidden]="page == 1" routerLink="/users" [queryParams]="{'p': page - 1}">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-left-square-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.5 10V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4A.5.5 0 0 0 10.5 12z"/>
            </svg>
        </div>

        <div [hidden]="length < 15" routerLink="/users" [queryParams]="{'p': page + 1}">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
            </svg>
        </div>
    </div>

    <div *ngIf="loading" class="loading loading-icon text-info" >
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status"></div>
        </div>
    </div>
</div>