.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.task-body{
    padding: 1.5rem;
    .content{
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: white;
        max-width: 70%;
        width: 100%;
        margin: auto;
        margin-bottom: 1.5rem;
        h2, p{
            margin: 0;
        }

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px black;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            .left{
                h2, p {
                    margin-left: 1rem;
                }
                display: flex;
                align-items: center;
            }
            .right{
                display: flex;
                align-items: center;
                .buttons{
                    margin-right: 1.5rem;
                    .btn{
                        margin: 0rem 0.25rem;
                    }
                }
                
            }
            .bi{
                cursor: pointer;
            }
        }

        .body{
            margin-bottom: 1.5rem;
        }
        .attachments{
            h4{
                margin-bottom: 1rem;
            }
            .files{
                display: block;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            .file{
                border: 2px solid black;
                border-radius: 0.25rem;
                padding: 0.35rem 1rem;
                max-width: 250px;
                width: auto;
                margin-right: 0.25rem;
                &:hover{
                    background-color: #f1f1f1;
                    cursor: pointer;
                }
            }
        } 

    }
}

@media screen and (max-width: 900px) {
    .task-body{
        height: 100vh;
        .content{
            padding: 1rem !important;
            max-width: 100% !important;
            .header{
                display: block !important;
                .right{
                    margin-top: 1rem;
                    justify-content: space-between;
                }
            }
            .attachments{
                .files{
                    a{
                        display: block;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}