.search{
    margin-top: 25px;
    display: flex;
    justify-content: start;
    .form{
        padding: 0;
        .mb-2 {
            margin: 0 !important;
        }
        .form-check{
            margin-top: 5px;
        }
        .btn{
            margin-top: 5px !important;
        }
    }
    .error{
        color: red !important;
    }
}